.players-container{
    margin: 50px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.player-cart{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    flex-wrap: wrap;
}
